* {
  margin: 0;
  padding: 0;
  font-family: arial;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px 0px 12px 0px;
}
.acoes{
  margin: 25px 0px 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acoes .botao{
  padding: 16px;
  font-size: 1rem;
  background-color: #1d1d1d;
  color: white;
  border: none;
  margin: 2px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card{
  width: 30%;
  overflow: auto;
  padding: 16px;
  margin: 6px;
}
.card p {
  margin: 6px 0px 6px 0px;
}
.modelo1{
  background-color: white;
  box-shadow: 7px 7px 1px #40E0D0;
  border: 2px solid #40E0D0;
}
.modelo2{
  background-color: white;
  box-shadow: 7px 7px 1px #DE3163;
  border: 2px solid #DE3163;
}
.modelo3{
  background-color: white;
  box-shadow: 7px 7px 1px #008080	;
  border: 2px solid #008080	;
}

@media (max-width: 600px){
  .acoes{
    flex-direction: column;
  }
  .card{
    width: 80%;
    margin: 12px 0px 12px 0px;
  }
}
